[access]
	inheritFrom = All-Non-CI-Projects
[receive]
[submit]
	action = cherry pick
[project]
	description = Qt Vendor branch of Chromium. This is a submodule of qtwebengine - no point in cloning it out separately.
	state = active
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access "refs/heads/*"]
	label-Sanity-Review = -2..+1 group Approvers
	create = group Labs Project Maintainers
[cherryPick "labelFooters"]
	Sanity-Review = true
